
.todo-item {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;  
    font-size: 20px;
    padding: 35px 15px;
    border-bottom: 1px solid #f2f3f5;

    &.completed {
        color: #aaa;
    }
}

.todo-item .check-box {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 100%;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    transition: background-color 0.5s, border-color 0.2s;

    i.material-icons {
        font-size: 25px;
        margin: auto;
        color: white;
    }
}

.todo-item:hover .check-box {
    background: #eee;

    i.material-icons {
        font-size: 25px;
        margin: auto;
        color: darkgray;
    }
}

.todo-item.completed .check-box {
    background: lightgreen;
    border-color: lightgreen;

    i.material-icons {
        opacity: 1;
        color: limegreen;
    }
}

.todo-item .todo-controls-box {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: opacity 0.1s, visibility 0.1s, transform 0.1 s;
}

.todo-item:hover .todo-controls-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    transform: translateY(0);
}
