<section class="heading-section">
    <h1 class="title">ToDo's</h1>
</section>

<div class="container add-todo-box-container">
    <div class="add-todo-box">
        <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
            <h2 class="title-form">New Todo</h2>
            <div class="field is-grouped my-0">
                <p class="control is-expanded">
                    <input ngModel #todoTextField="ngModel" minlength="2" required name="text" class="input" type="text"
                        placeholder="Type ToDo text here...">
                </p>
                <p class="control">
                    <button class="button">
                        Add
                    </button>
                </p>
            </div>
            <!-- <div *ngIf="todoTextField.invalid && showValidationErrors">
                <p class="help is-danger" *ngIf="todoTextField.errors.required">Please enter text of your ToDo</p>
                <p class="help is-danger" *ngIf="todoTextField.errors.minlength">ToDo text must be at least 2 characters</p>
            </div> -->
        </form>

    </div>
</div>

<section class="section">
    <div class="container">
        <div class="todo-list">
            <todo-item *ngFor="let todo of todos" [todo]="todo" (todoClicked)="toggleCompleted(todo)"
                (editClicked)="editTodo(todo)" (deleteClicked)="deleteTodo(todo)"></todo-item>
        </div>
    </div>
</section>