<input type="text" class="todo-input" placeholder="What need to be done">
<div class="todo-item">
    <div class="todo-item-left">
        <input type="checkbox" v-model="todo.completed">
        <div class="todo-item-label">ToDo item goes here</div>
    </div>
    <div class="remove-item">
        &times;
    </div>
</div>

<div class="todo-item">
    <div class="todo-item-left">
        <input type="checkbox" v-model="todo.completed">
        <div class="todo-item-label">Another item</div>
    </div>
    <div class="remove-item">
        &times;
    </div>
</div>

<div class="extra-container">
    <div><label for=""><input type="checkbox"> Check All</label></div>
    <div>4 items left</div>
</div>

<div class="extra-container">
    <div>
        <button class="active">All</button>
        <button>Active</button>
        <button>Completed</button>
    </div>
    <div>
        <button>Clear Completed</button>
    </div>
</div>